@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{


--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);


--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{

    font-family: 'Big shoulders Display', cursive;
    color: var(--Very-light-gray);
    margin-bottom: 2rem;
    letter-spacing: 2px;
    
}
p{

    font-family: 'Lexend Deca', sans-serif;
    color: var(--Transparent-white);
    margin-bottom: 5rem;
    line-height: 1.75;
}
a{
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: var(--Very-light-gray);
    font-size: 18px;
    width: 9rem;
   
}
a:hover{
    transition:  0.8s;
    background-color: transparent;

}
img{
    height: 50px;
    width: 70px;
    margin: 1.5rem 1.5rem 2rem 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Very-light-gray);
  
    
}
main{
    
    justify-content: center;
}
main div{
    padding: 2rem 3rem 3rem 3rem;

}
.card-one{
    background-color: var(--Bright-orange);
    border-radius: 0.5rem 0.5rem 0 0;
    
}
.card-one a{
    color:var(--Bright-orange);
    font-weight: 700;
}
.card-one a:hover{
    color: var(--Transparent-white);
    font-weight: 700;
}
.card-two{
    background-color: var(--Dark-cyan);
}
.card-two a{
    color: var(--Dark-cyan);
    font-weight: 700;
}
.card-two a:hover{
    color: var(--Transparent-white);
    font-weight: 700;
}
.card-three{
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0 0.5rem 0.5rem;
    
}
.card-three a{
    color: var(--Very-dark-cyan);
    font-weight: 700;
}
.card-three a:hover{
    color: var(--Transparent-white);
    font-weight: 700;
}




@media (min-width: 850px){
    .card-one{
        border-radius: 0.5rem 0 0 0.5rem;

    }
    
    .card-three{
        border-radius: 0 0.5rem 0.5rem 0;
    }
    body{
        justify-content: center;
        display: flex;
    }
    main{
    
        display: flex;
        box-sizing:border-box;
        justify-content: center;
        margin: 10rem auto;
        width: 880px;
        height: 600px;
        
    }
    
    main div{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        
    }
    

}

@media (max-width: 849px){
   
    main{
        
        margin: auto;
        display: block;
        flex-direction: row;
        height: inherit;
        min-width: 350px;
        min-height: auto;
        max-width: 400px;
        padding: 1rem;
        
        

    }
    main div{
        display: block;
        min-height: 500px;
        
    
    }

}
